<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <title>Электрохлор</title>

        <!-- Bootstrap core CSS -->
        {% load static %}
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


        <!-- Additional CSS Files -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </head>
    <body>

        <!--header-->

        <header class="main-header clearfix" role="header">
            <div class="logo" style="text-align:center;">

              <section id="topbar" class="d-flex align-items-center">
                <div class="container d-flex justify-content-center justify-content-md-between">
                  <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope-fill"></i><p>electrochlor@mail.ru</p>
                    <i class="bi bi-phone-fill phone-icon"></i> <p>8-(918)-333-06-75</p>
                  </div>
                </div>
              </section>

              <a href="." >Электрохлор</a>
              <p style="margin-top: -30px; color:white">Электролизное оборудование</p>
            </div>

            <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
            <nav id="menu" class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#" onclick="window.location.href = '.#section1'">Главная</a></li>

                <li><a href="#" onclick="window.location.href = '.#section2'">О компании</a></li>
                <!-- <li><a href="#section5">Video</a></li> -->
                <li><a href="#" onclick="window.location.href = '.#section3'">Контакты</a></li>
                <li class="has-submenu"><a href="#menu">Меню</a>
                  <ul class="sub-menu">
                    <li><a href="#section-technology">Технология</a></li>
                    <li><a href="#section-products">Продукция</a></li>
                    <li><a href="#section-objects">Объекты</a></li>
                    <li><a href="#section-photo">Фото</a></li>
                    <li><a href="#section-water" style="font-size : 11px">Обеззараживание</a></li>
                    <li><a href="#section-clearwater">Очистка воды</a></li>

                  </ul>
                </li>
              </ul>
            </nav>
        </header>

        <section class="section" data-section="section-technology" id="section-technology">
            <div class="section-header2" style="padding-top : 175px; margin-top : 0;">
                <h1 style="margin-top : -80px">Технология</h1>
            </div>
        </section>

        <section class="section-technology">
            <div class="tabs">
                <div class="tab">
                    <a href="#tab1">Получение гипохлорита натрия</a>
                    <a href="#tab2">Прямой электролиз воды</a>
                </div>
                <div class="content-tabs">
                    <div class="content-block" id="tab1">
                        <div class="container-main">
                            <div class="col-md-6">
                                <p>Исходя из среднестатистической производительности водозаборов, оборудование «Электрохлор» базируется на модульности. Наращивание производительности электролизного оборудования достигается увеличением количества модулей. Основным спросом пользуются модули мощностью 5 и 12 кг активного хлора в сутки. Для более мощных объектов нашим предприятием изготавливаются модули производительностью 20, 36, 50 кг а.х./сутки. Это позволяет довести мощность оборудования до 1000 и выше кг активного хлора в сутки.</p>
                                <p><br>При разработке и изготовлении «Электрохлор» мы руководствуемся следующими принципами:
                                    <br><b>Безопасность</b> – основной критерий, предъявляемый к оборудованию для дезинфекции воды в современных условиях. Электролизные установки уже подразумевают экологическую безопасность в сравнении с газообразным хлором. Кроме того конструкция «Электрохлор» обеспечивает безопасную работу обслуживающего персонала.
                                    <br><b>Функциональность</b> – каждый узел, и оборудование в целом, направлено на выполнение основной задачи – получение реагента.
                                    <br><b>Экономичность</b> – эксплуатационные затраты получения гипохлорита натрия электролизом складываются из стоимости воды, подаваемой на установку, стоимости соли, стоимости электроэнергии и затрат на профилактическое обслуживание оборудование. Причем констатируются не теоретические, а практические затраты. Вода, подаваемая на «Электрохлор», не нуждается в специальной подготовке (например, декарбонизации), и возвращается вместе с гипохлоритом в обрабатываемую воду, поэтому ее стоимостью можно пренебречь. Соль используется самая обычная и неочищенная (как выразился один из пользователей – подмели с пола и пустили в работу).
                                    <br><b>Простота эксплуатации</b> – конструкция «Электрохлор» позволяет работать на ней персоналу с обычным средним образованием.
                                    <br><b>Надежность</b> – в «<b>Электрохлор</b>» используются в основном пластиковые материалы и, как правило, не применяются механические агрегаты (например, насосы). Проще говоря, в оборудовании нечему ломаться.
                                    <br><b>Прозрачность</b> – немаловажный фактор для оборудования, в котором течет вода, и происходят какие-то процессы. Не ради развлечения, а для визуального контроля корпуса электролизеров в «Электрохлор» изготовлены из прозрачного пластика. Это позволяет наблюдать за процессом синтеза и состоянием электродного пакета. Кроме этого все функционально важные гидравлические коммуникации, в которых возможно выпадение осадка также выполнены из прозрачных материалов.
                                    <br><b>Эффективность</b> – получение желаемого результата с наименьшими затратами. Перечисленные выше принципы описывают общие усилия и затраты направленные на получение готового продукта – гипохлорита натрия. «Электрохлор» позволяет получить такой продукт с концентрацией не менее 4–5 грамм активного хлора в 1 литре. Эффективно или нет – право судить об этом оставляем за пользователем. Позволим себе лишь прокомментировать один спорный момент. Оппоненты уверяют о затратах электроэнергии в 3,5 кВт на 1 кг ах/ч и 8–10 грамм ах/л.
                                    Вопрос первый: в каком месте считали электроэнергию? На самом электродном пакете, или на входе на все оборудование в целом?
                                    Вопрос второй: за какое время синтезируется 8–10 грамм? На практике при электролизе 1 литра 2–3 % раствора соли получают 5 грамм активного хлора в течение первого часа. Для увеличения концентрации активного хлора на каждый последующий грамм требуется еще по 1 часу. Т.е. «лишняя» электроэнергия тратится на «разогрев» раствора.
                                    Мы не пытаемся доказывать «идеальность» своего изделия, наоборот, из года в год, учитывая замечания и рекомендации пользователей, вносим изменения в конструкцию оборудования, улучшающие его эксплуатацию.
                                </p>
                            </div>
                            <div class="col-md-6 images-main" style="margin-bottom : 10px;">
                                <img src="static/assets/images/схема.jpg" width="100%" style="border-radius : 15px;">
                            </div>
                        </div>
                    </div>
                    <div class="content-block" id="tab2">
                        <div class="container-main">
                            <div class="col-md-6">
                                <h2>Что такое прямой электролиз воды?</h2>
                                <p>Прохождение электрического тока через обрабатываемую воду сопровождается серией электрохимических реакций, в результате которых в воде образуются новые вещества, и изменяется структура межмолекулярных взаимодействий. При прямом электролизе воды происходит синтез окислителей – кислорода, озона, перекиси водорода и др. Кроме этого в воде даже с очень низким содержанием хлоридов при прямом электролизе образуется остаточный хлор, что очень важно для пролонгированного эффекта обеззараживания воды.</p>
                                <h2>Теория процесса электролиза воды</h2>
                                <p>
                                    <br>В упрощенном виде прямой электролиз воды состоит из нескольких процессов.
                                    <br>1) Электрохимический процесс.
                                    <br>В воде (H2O) расположены параллельно две пластины (электроды): анод и катод. Напряжение постоянного тока, подаваемое на электроды, приводит к электролизу воды.
                                    <br>На аноде производится <b>кислород</b>: 2H<sub>2</sub>O → <b>O<sub>2</sub></b> + 4H<sup>+</sup> + 4e<sup>−</sup> (вода подкисляется).
                                    <br>На катоде образуется водород: 2H<sub>2</sub>O + 2e<sup>−</sup> → H<sub>2</sub> + 2OH<sup>−</sup> (вода подщелачивается).
                                    <br>Количество выделяющегося водорода незначительно и не является большой проблемой.
                                    <br>Использование специальных электродов позволяет производить из воды озон и перекись водорода.
                                    <br>На аноде производится <b>озон</b>: 3H<sub>2</sub>O → <b>O<sub>3</sub></b> + 6e<sup>−</sup> + 6H<sup>+</sup> (вода подкисляется).
                                    <br>На катоде – <b>перекись водорода</b>: O<sub>2</sub> + 2H<sub>2</sub>O + 2e<sup>−</sup> → <b>H<sub>2</sub>O<sub>2</sub></b> + 2OH<sup>−</sup> (вода подщелачивается).
                                    <br>Естественная пресная (не дистиллированная) вода всегда содержит минеральные соли – сульфаты, карбонаты, хлориды. В целях получения хлора для пролонгированного эффекта обеззараживания воды интересны только хлориды. В воде они представлены в основном хлоридом натрия (NaCl), хлоридом кальция (CaCl) и хлоридом калия (KCl).
                                    <br>На примере с хлоридом натрия реакция образования хлора электролизом будет следующей.
                                    <br>Соль, растворенная в воде: 2NaCl + H<sub>2</sub>O → 2Na<sup>+</sup> +2Cl<sup>–</sup> + 2H<sub>2</sub>O
                                    <br>Во время электролиза на аноде формируется хлор: 2Cl<sup>–</sup> → <b>Cl<sub>2</sub></b>+2e<sup>–</sup> (вода подкисляется).
                                    <br>А у катода образуется гидроокись натрия: Na<sup>+</sup> + OH<sup>–</sup> → NaOH (вода подщелачивается).
                                    <br>Эта реакция является недолгой, поскольку любой хлор, произведенный у анода, быстро потребляется для формирования <b>гипохлорита натрия</b>: Cl<sub>2</sub> + 2NaOH → H<sub>2</sub> + 2<b>NaOCl</b>
                                    <br>Подобные реакции электролиза происходят и с хлоридами кальция и калия.
                                    <br>Таким образом, в результате электролиза пресной воды генерируется смесь сильных окислителей: <b>кислород + озон + перекись водорода + гипохлорит натрия.</b>
                                    <br>2) Электромагнитный процесс.
                                    <br>Молекула воды представляет собой маленький диполь, содержащий положительный (со стороны водорода) и отрицательный (со стороны кислорода) заряды на полюсах. В электромагнитном поле водородная часть молекулы воды притягивается к катоду, а кислородная часть к аноду. Это приводит к ослаблению и даже разрыву водородных связей в молекуле воды. Ослабление водородных связей способствует образованию атомарного кислорода. Наличие в воде атомарного кислорода способствует уменьшению жесткости воды. В обычной воде всегда присутствует кальций. Ионы Са<sup>+</sup> окисляются атомарным кислородом: Са+ + О → СаО. Окись кальция, соединяясь с водой, образует гидрат окиси кальция: СаО + Н<sub>2</sub>О → Са(ОН)<sub>2</sub>. Гидрат окиси кальция – сильное основание, хорошо растворимое в воде. Аналогичные процессы происходят и с другими элементами жесткости воды.
                                    <br>3) Процессы кавитации.
                                    <br>В результате электрохимического и электромагнитного процесса происходит образование микроскопических газовых пузырьков кислорода и водорода. Вблизи поверхности электродов появляется белесое облачко, состоящее из возникших пузырьков. Увлекаемые потоком воды, пузырьки смещаются в область, где скорость потока меньше, а давление выше, и происходит их схлопывание с большой скоростью.
                                    <br>Мгновенное схлопывание пузырька высвобождает огромную энергию, которая разрушает водную стенку пузырька, т.е. молекулы воды. Следствием разрушения молекулы воды является образование ионов водорода и кислорода, атомарных частиц водорода и кислорода, молекул водорода и кислорода, гидроксилов и других веществ.
                                    <br>Перечисленные процессы способствуют образованию основного окислителя – атомарного кислорода.
                                    <h2>В чем уникальность прямого электролиза?</h2>
                                    <br>Обеззараживание воды прямым электролизом является разновидностью окислительной обработки воды, но кардинально отличается от распространенных методов обеззараживания тем, что окислители производятся из самой воды, а не вносятся извне и, выполнив свою функцию, переходят в прежнее состояние. Эффективность обеззараживания воды прямым электролизом в несколько раз выше по сравнению с химическими методами. Прямой электролиз воды способствует <b>удалению цветности, сероводорода, аммония</b> исходной воды. Для прямого электролиза не требуются дозирующие насосы и использование реагентов.
                                        Хлор, необходимый для предотвращения вторичного бактериального загрязнения воды в распределительных сетях, активируется из естественных минеральных солей в воде, проходящей через электролизёр, и моментально растворяется в ней. Прямой электролиз разрушает хлорамины, преобразуя их в азот и соль.

                                </p>
                            </div>
                            <div class="col-md-6 images-main" style="margin-bottom : 10px;">
                                <img src="static/assets/images/ozone-generation.jpg" width="100%" style="border-radius : 15px;">
                                <div class="button-more" onclick="window.location.href = './Генерация окислителей'">
                                    <p>Генерация окислителей</p>
                                </div>
                                <div class="button-more" onclick="window.location.href = './Дезинфекция воды'">
                                    <p>Дезинфекция питьевой воды прямым электролизом</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-products section" data-section="section-products" id="section-products">
            <div class="section-header2">
                <h1>Продукция</h1>
            </div>

            <div class="faq-slider">
                <div class="header-row" style="margin-top : -30px; border-top-right-radius: 10px; border-top-left-radius: 10px;">
                    <label for="faq">Кассеты электродные</label>
                    <input class="faq-input" type="radio" name="faq" id="faq">
                    <ion-icon name="caret-down-outline"></ion-icon>
                </div>

                <div class="container-images" id="tab_faq">
                    <div class="box-images">
                        <div class="dream">
                            <img src="static/assets/images/products/4.jpg">
                        </div>
                        <div class="dream">
                            <img src="static/assets/images/products/2.jpg">
                            <img src="static/assets/images/products/5.jpg">
                            <img src="static/assets/images/products/1.jpg">
                            <img src="static/assets/images/products/3.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-slider">
                <div class="header-row">
                    <label for="faq_1">Электролизеры</label>
                    <input class="faq-input" type="radio" name="faq" id="faq_1">
                    <ion-icon name="caret-down-outline"></ion-icon>
                </div>

                <div class="container-images" id="tab_faq_1">
                    <div class="box-images">
                        <div class="dream">
                            <img src="static/assets/images/products/6.jpg">
                            <img src="static/assets/images/products/8.jpg">
                        </div>
                        <div class="dream">
                            <img src="static/assets/images/products/7.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-slider">
                <div class="header-row">
                    <label for="faq_2">Электролизные установки типа «Электрохлор»</label>
                    <input class="faq-input" type="radio" name="faq" id="faq_2">
                    <ion-icon name="caret-down-outline"></ion-icon>
                </div>

                <div class="container-images" id="tab_faq_2">
                    <div class="box-images">
                        <div class="dream">
                            <img src="static/assets/images/products/11.jpg">
                        </div>
                        <div class="dream">
                            <img src="static/assets/images/products/9.jpg">
                            <img src="static/assets/images/products/10.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-slider">
                <div class="header-row">
                    <label for="faq_3">Электролизные установки в Блок контейнере</label>
                    <input class="faq-input" type="radio" name="faq" id="faq_3">
                    <ion-icon name="caret-down-outline"></ion-icon>
                </div>

                <div class="container-images" id="tab_faq_3">
                    <div class="box-images">
                        <div class="dream">
                            <img src="static/assets/images/products/13.jpg">
                            <img src="static/assets/images/products/14.jpg">

                        </div>
                        <div class="dream">
                            <img src="static/assets/images/products/12.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-slider">
                <div class="header-row">
                    <label for="faq_4">Установки для прямого электролиза воды типа «УПЭВ»</label>
                    <input class="faq-input" type="radio" name="faq" id="faq_4">
                    <ion-icon name="caret-down-outline"></ion-icon>
                </div>

                <div class="container-images" id="tab_faq_4">
                    <div class="box-images">
                        <div class="dream">
                            <img src="static/assets/images/products/15.jpg">
                            <img src="static/assets/images/products/16.jpg">
                            <img src="static/assets/images/products/20.jpg">
                            <img src="static/assets/images/products/18.jpg">

                        </div>
                        <div class="dream">
                            <img src="static/assets/images/products/17.jpg">
                            <img src="static/assets/images/products/19.jpg">
                            <img src="static/assets/images/products/22.jpg">
                            <img src="static/assets/images/products/21.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="section-objects section" data-section="section-objects" id="section-objects">
            <div class="section-header2">
                <h1>Объекты</h1>
            </div>
            <div class="container-objects">
                <h2>Поставлено электролизных установок типа «Электрохлор» - более 200 шт.</h2>
            </div>
            <div class="container-objects">
                <h2>Поставлено установок прямого электролиза воды типа «УПЭВ» - более 200 шт.</h2>
            </div>
        </section>

        <section class="section section-photo" data-section="section-photo" id="section-photo">
            <div class="section-header2">
                <h1>Фото</h1>
            </div>

            <div class="faq-slider">


                <div class="container-images" style="display: flex">
                    <div class="box-images">
                        <div class="dream">
                            {% for photo in photos1 %}
                            <img src="{{ photo.image.url }}">
                            {% endfor %}
                        </div>
                        <div class="dream">
                            {% for photo in photos2 %}
                            <img src="{{ photo.image.url }}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="section section-water" data-section="section-water" id="section-water">
            <div class="section-header2">
                <h1 class="watering">Обеззараживание</h1>
            </div>
            <div style="margin-left : 5%; margin-right : 5%;">
                <div class="container-main" style="margin-top : -40px;">
                    <div class="col-md-6">
                        <p>
                            <h2>Обеззараживание воды</h2>
                            <br>Природные воды, используемые для питьевого и производственного водоснабжения, должны иметь благоприятные органолептические свойства, быть безвредными по химическому составу и безопасными в санитарно-эпидемиологическом отношении. Перед производителями питьевой воды стоит задача обеспечения ее эпидемической безопасности, т. е. достаточной очистки и обеззараживания.
                            <br>Следует понимать, что <b>ни один из современных методов обработки воды не обеспечивает 100 % очистки воды от микроорганизмов</b> (наиболее близкими к идеалу остаются только дистилляция и обратный осмос). Но даже если предположить, что система водоподготовки и обеспечит абсолютное удаление из воды всех микроорганизмов, то остается большая вероятность вторичного загрязнения воды при ее транспортировке по трубам распределительной сети, при хранении в емкостях, при контакте с атмосферным воздухом и т.д.
                            <br>Санитарными нормами и правилами не ставится цель доведения воды по микробиологическим показателям до стерильного качества (отсутствие всех микроорганизмов). Задача состоит в том, чтобы удалить (или инактивировать) наиболее опасные для здоровья человека микроорганизмы.
                            <br>Основным документом, определяющим гигиенические требования к качеству питьевых вод, является СанПиН 2.1.4.1074-01 «Питьевая вода. Гигиенические требования к качеству воды централизованных систем питьевого водоснабжения. Контроль качества».
                            <br>СанПиН 2.1.4.1074-01 устанавливает нормативы безопасности питьевой воды по микробиологическим и паразитологическим показателям, указанных в таблице.
                            <br>Обеззараживание осуществляется химическими и физическими методами.
                            <br>Физические методы обеззараживания:
                            <br>– кипячение;
                            <br>– ультразвуковое воздействие;
                            <br>– воздействие электрическим разрядом;
                            <br>– ультрафиолетовое облучение.
                            <br>Химические методы обеззараживания:
                            <br>– обработка воды сильными окислителями: озоном, хлорсодержащими веществами;
                            <br>– олигодинамия (воздействие ионами тяжелых металлов – серебра, меди и других).
                            <br>
                            <br>Эффективность обеззараживания воды химическими и физическими методами во многом зависит от свойств воды и биологических особенностей микроорганизмов – их устойчивости к этим воздействиям.
                            <br>Экономичность (экономическая целесообразность) обеззараживания воды тем или иным методом определяется составом воды, местоположением и мощностью водопроводной станции, стоимостью реагентов и оборудования дезинфекции и финансовой возможностью собственника водопровода.
                            <br>Пролонгированный (консервирующий) эффект обеспечивается только хлорсодержащими веществами.
                            <br>
                            <br><b>Хлор</b> является сильнодействующим ядовитым веществом (класс опасности 2), поэтому его использование требует мероприятий повышенной промышленной безопасности, защиты населения и территорий от последствий возникновения возможных аварий и чрезвычайных ситуаций.
                            <br>В этой связи предприятия водопроводно-канализационного хозяйства применяют альтернативные способы обеззараживания воды с пролонгированным (консервирующим) эффектом.
                            <br>Хлорсодержащие вещества для обеззараживания воды: гипохлорит натрия (NaClO) химический и электролитический, гипохлорит кальция (Ca(ClO)<sub>2</sub>), диоксид хлора (ClO<sub>2</sub>).
                            <br><b>Химический гипохлорит натрия</b> марки «А» (класс опасности 3) производится с содержанием активного хлора не менее 190 г/л. При транспортировке и хранении из-за нестойкости продукта происходят потери гипохлорита натрия, главным образом по причине превращения его в более стойкое соединение NaCl (соль).
                            <br><b>Электролитический гипохлорит натрия</b> марки «Э» (класс опасности 4) производится с содержанием активного хлора 4–8 г/л. В отличие от химического гипохлорита натрия электролитический гипохлорит получают на месте потребления, и его транспортировка и хранение не требуется.
                            <br><b>Гипохлорит кальция</b> санитарно-технический марки «А» (класс опасности 3), представляющий собой порошок белого цвета с резким запахом хлора, производится с содержанием активного хлора не менее 45 %. Гипохлорит кальция при контакте с жидкими маслообразными органическими веществами или пылевидными органическими продуктами может вызвать их возгорание.
                            <br><b>Диоксид хлора</b> (класс опасности 1) получают на месте потребления реакцией соляной кислоты с хлоритом натрия NaClO<sub>2</sub>. Диоксид хлора более сильный окислитель по сравнению с хлором и может использоваться для удаления запаха, деструкции органических веществ и улучшения вкусовых качеств воды. Однако его использование может привести к образованию побочных продуктов, например хлорита, который является токсичным. Кроме того, стоимость диоксида хлора высока.

                        </p>
                    </div>
                    <div class="col-md-6 images-main" style="margin-bottom : 10px;">
                        <table class="tables" style="width : 100%;">
                            <tr>
                                <th>Показатели</th>
                                <th>Единицы измерения</th>
                                <th>Нормативы</th>
                            </tr>
                            <tr>
                                <td>Термотолерантные колиформные бактерии </td>
                                <td>Число бактерий в 100 мл </td>
                                <td>Отсутствие </td>
                            </tr>
                            <tr>
                                <td>Общие колиформные бактерии</td>
                                <td>Число бактерий в 100 мл</td>
                                <td>Отсутствие</td>
                            </tr>
                            <tr>
                                <td>Общее микробное число</td>
                                <td>Число образующих колонии бактерий в 1 мл</td>
                                <td>Не более 50</td>
                            </tr>
                            <tr>
                                <td>Колифаги</td>
                                <td>Число бляшкообразующих единиц (БОЕ) в 100 мл</td>
                                <td>Отсутствие</td>
                            </tr>
                            <tr>
                                <td>Споры сульфитредуцирующих клостридий</td>
                                <td>Число спор в 20 мл</td>
                                <td>Отсутствие</td>
                            </tr>
                            <tr>
                                <td>Цисты лямблий</td>
                                <td>Число цист в 50 л</td>
                                <td>Отсутствие</td>
                            </tr>
                        </table>
                        <p style="margin-top : 30px;">
                            <h2>Краткое описание методов обеззараживания</h2>
                            <br><b>Важно понимать</b> – ни один из методов обеззараживания не является универсальным и самым лучшим! Каждый метод обладает своими достоинствами и недостатками.
                            <h4 style="margin-top : 10px;">Кипячение воды</h4>
                            Кипячение воды при атмосферном давлении в течение 10–12 мин убивает все неспорообразующие микроорганизмы. После охлаждения споры в этой воде прорастут (вторичное загрязнение). Кипячение требует большого расхода энергии и не обладает пролонгированным эффектом.
                            <br><br>Этот метод используется для обеззараживания малых объемов воды: в быту, полевых условиях, лабораториях, малых водоочистных установках и других подобных случаях.
                            <h4 style="margin-top : 10px;">Ультразвуковое воздействие</h4>
                            Ультразвуковое воздействие убивает большинство микроорганизмов при интенсивности излучения не менее 2 Вт/см² и времени обработки не менее 5 мин. Работа генератора ультразвука требует большого расхода энергии и не обладает пролонгированным эффектом.
                            <br><br>Этот метод, также как и кипячение, используется для обеззараживания малых объемов воды.
                            <h4 style="margin-top : 10px;">Электический заряд</h4>
                            Электрический разряд в воде обладает высоким бактерицидным эффектом. При разряде образуются ударные волны и свободные радикалы, обладающие сильными окисляющими свойствами. В результате происходит гибель большинства микроорганизмов. Электрический разряд в воде требует большой мощности высоковольтного генератора. Поэтому расход электроэнергии составляет около 2 кВт×ч на 1 м³ обрабатываемой воды.
                            <h4 style="margin-top : 10px;">Ультрафиолетовое облучение</h4>
                            Ультрафиолетовое облучение убивает микроорганизмы, но клеточные стенки бактерий, грибков, белковые фрагменты вирусов остаются в воде. УФ излучение требует большого расхода энергии и не обладает пролонгированным эффектом. УФ лампы содержат ртуть (класс опасности 1) и требуют специальных мер по утилизации.
                            <h4 style="margin-top : 10px;">Озонирование</h4>
                            Озонирование – самый эффективный и дорогой метод обеззараживания воды, требует большого расхода электроэнергии, больших затрат на приобретение и обслуживание оборудования.
                            <br>Использование озона для обеззараживания производится в очищенную воду. В этом случае озон будет затрачиваться лишь на дезинфекцию. Если после очистки в воде остались не окисленные соединения (органические загрязнения, не окисленное железо, марганец и т. п.), расход озона значительно возрастет
                            <br>В обработанной озоном воде иногда наблюдается рост бактерий, поскольку разложение фенольных групп, входящих в состав гуминовых веществ, способствует активации микроорганизмов, ранее находящихся в подавленном состоянии. Поэтому остаточный озон не всегда гарантирует высокое качество воды по микробиологическим показателям у потребителя. Кроме этого остаточный озон разрушает металлические трубопроводы, особенно стальные, поэтому перед подачей воды в распределительные сети необходимо некоторое время выдержать ее в контактных резервуарах для полного разложения озона. Использовать остаточный озон для защиты воды от вторичных загрязнений в трубопроводе в период транспортирования возможно лишь для труб из материалов, стойких к воздействию озона (некоторые пластмассы, асбестоцемент, бетон и т. д.). Поэтому в воду чаще добавляют хлорсодержащие вещества.
                            <br>Поскольку озон (класс опасности 1) представляет высокую опасность для персонала, в зале озонаторов и в помещениях распределительных камер должна предусматриваться приточно-вытяжная вентиляция как постоянно действующая, так и аварийная на случай превышения допустимой концентрации озона. Вентиляционные системы автоматизируются на тепловой режим и степень загазованности. Вентиляционное оборудование выполняется во взрывобезопасном варианте.
                        </p>
                    </div>
                </div>
                <div style="margin-left : 1%;">
                    <h2>Обеззараживание воды ионами тяжелых металлов.</h2>
                    <p style="font-size : 16px; line-height : 25px;">
                        Небольшие концентрации ионов тяжелых металлов (серебра, меди, цинка и др.) вызывают гибель находящихся в воде микроорганизмов. Наибольшими бактерицидными свойствами обладает серебро (класс опасности 2). В настоящее время разработаны технологии и устройства для электролитического растворения серебра. Получаемая «серебряная вода» содержит ионы серебра и является эффективным веществом для дезинфекции и консервирования питьевой воды. Но следует учитывать, что серебрение воды, во-первых, дорогой метод обеззараживания, во-вторых, концентрации серебра, которые разрешены действующими нормативами, способны лишь притормозить рост бактерий в воде. Как и большинство тяжелых металлов, серебро медленно выводится из организма и при его постоянном поступлении может накапливаться. При длительном накоплении серебра возможно проявление признаков отравления.
                    </p>
                    <h2>Выбор методов обеззараживания</h2>
                    <p style="font-size : 16px; line-height : 25px;"><b>Комплексный подход</b> при выборе методов обеззараживания позволит достичь требуемого эффекта при оптимальном сочетании эффективности и экономичности дезинфекции воды.</p>
                </div>
            </div>
        </section>

        <section class="section section-clearwater" data-section="section-clearwater" id="section-clearwater" style="margin-bottom : 50px;">
            <div class="section-header2">
                <h1 class="watering">Очистка воды</h1>
            </div>
            <div style="margin-left : 5%; margin-right : 5%; margin-top : -30px;">
                <div class="container-main">
                    <div class="col-md-6">
                        <p>
                            <h2>Очистка воды прямым электролизом</h2>
                            Еще в конце XIX в. было обнаружено, что при прохождении обрабатываемой воды через электролизер под действием электрического тока образуются соединения, которые обеззараживают воду непосредственно в потоке. С тех пор разработка технологии обеззараживания воды, не связанной с применением каких-либо реагентов, является весьма перспективным направлением.
                            <h4>Научные предпосылки</h4>
                            Прохождение электрического тока через обрабатываемую воду сопровождается серией электрохимических реакций, в результате которых в воде образуются новые вещества, и изменяется структура межмолекулярных взаимодействий. Электролиз природной воды синтезирует ряд окислителей: кислород, озон, перекись водорода, гипохлорит ион и др.
                            <h4>Экологические предпосылки</h4>
                            При электролизе воды окислители производятся из самой воды, а не вносятся извне.
                            <h4>Экономические предпосылки</h4>
                            Для обработки природной воды прямым электролизом достаточно электролизёра и блок электропитания. Т.е. не требуются дозирующие насосы, реагенты и т.д. Энергозатраты при прямом электролизе природной воды составляют 0,05–0,2 кВт/м³.
                            <h4>Нормативные предпосылки</h4>
                            СНиП 2.04.02-84* рекомендует обеззараживание воды прямым электролизом при содержании хлоридов не менее 20 мг/л и жесткости не более 7 мг-экв/л на станциях производительностью до 5 000 м³ в сутки.
                            <h4>Очистка и обеззараживание воды прямым электролизом</h4>
                            Так как при электролизе воды синтезируется ряд окислителей, включая кислород и озон, прямой электролиз с успехом применяется при очистке природных вод. В природной воде в большей или меньшей степени присутствуют хлориды. Этим объясняется образование в процессе прямого электролиза свободного хлора, который обеспечивает остаточный эффект.
                            Электролиз воды сопровождается серией электрохимических реакций, в результате которых в воде происходит синтез окислителей.
                            Основными реакциями электролиза воды является образование кислорода O<sub>2</sub> и водорода H<sub>2</sub>, а также гидроксид иона OH¯:
                            <br>на аноде 2H<sub>2</sub>O → O<sub>2</sub>↑ + 4H<sup>+</sup> + 4e<sup>−</sup>
                            <br>на катоде 2H<sub>2</sub>O + 2e → H<sub>2</sub>↑ + 2OH¯
                            <br>
                            <br>При электролизе воды также образуются озон O<sub>3</sub> и перекись водорода H<sub>2</sub>O<sub>2</sub>:
                            <br>на аноде 3H<sub>2</sub>O → O<sub>3</sub>↑ + 6e<sup>−</sup> + 6H<sup>+</sup>
                            <br>на катоде 2H<sub>2</sub>O + O<sub>2</sub> + 2e<sup>−</sup> → H<sub>2</sub>O</sub>2</sub> + 2OH<sup>−</sup>
                            <br>
                            <br>В присутствии хлоридов при электролизе воды образуется растворённый хлор:
                            <br>на аноде 2Cl<sup>–</sup> → Cl<sub>2</sub>+2e<sup>–</sup>
                            <br>Растворённый хлор Cl<sub>2</sub>, реагируя с водой и гидроксид ионом, образует хлорноватистую кислоту HClO:
                            <br>Cl<sub>2</sub> + H<sub>2</sub>O → HClO + H<sup>+</sup> + Cl¯
                            <br>Cl<sub>2</sub> + OH¯ → HClO + Cl¯
                            <br>Разложение хлорноватистой кислоты HClO в воде приводит к образованию гипохлорит иона:
                            <br>HOCl ↔ H<sup>+</sup> + OCl¯
                            <br>
                            <br>Из приведённых выше реакций следует, что при электролизе воды образуется ряд окислителей:
                            <br>кислород O<sub>2</sub>,
                            <br>озон O<sub>3</sub>,
                            <br>перекись водорода H<sub>2</sub>O<sub>2</sub>,
                            <br>гипохлорит ион OCl¯.
                            <br>
                            <br>Появление при электролизе воды OH-радикалов, H<sub>2</sub>O<sub>2</sub> и O<sub>3</sub> приводит к образованию других сильных окислителей, таких как O<sub>3</sub>¯, O<sub>2</sub>¯, O¯, HO<sub>2</sub>, HO<sub>3</sub>, HO<sub>4</sub> и др.

                        </p>
                    </div>
                    <div class="col-md-6 images-main" style="margin-bottom : 10px;">
                        <h4>Очистка и обеззараживание воды прямым электролизом происходит без добавления химических реагентов.</h4>
                        <img src="static/assets/images/generation-of-oxidizers.jpg" width="100%" style="border-radius : 15px;">
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                    <p><i class="fa fa-copyright"></i> ООО «Электрохимтехнологии»</p>
                    <div class="whatsapp-footer">
                        <div class="whatsapp-logo" onclick="window.location.href = 'https://wa.me/79183330675'">
                            <ion-icon name="logo-whatsapp" size="large" ></ion-icon>
                        </div>
                        <div class="whatsapp-logo" onclick="window.location.href = 'https://wa.me/79183330674'">
                            <ion-icon name="logo-whatsapp" size="large" ></ion-icon>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </footer>
      <!-- Scripts -->
      <!-- Bootstrap core JavaScript -->

        {% load static %}
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        {% load static %}
        <script src="{% static 'assets/js/isotope.min.js' %}"></script>
        <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
        <script src="{% static 'assets/js/lightbox.js' %}"></script>
        <script src="{% static 'assets/js/tabs.js' %}"></script>
        <script src="{% static 'assets/js/video.js' %}"></script>
        <script src="{% static 'assets/js/slick-slider.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>
        <script src="{% static 'assets/js/myjs.js' %}"></script>
        <script>
            //according to loftblog tut
            $('.nav li:first').addClass('active');

            var showSection = function showSection(section, isAnimate) {
              var
              direction = section.replace(/#/, ''),
              reqSection = $('.section').filter('[data-section="' + direction + '"]'),
              reqSectionPos = reqSection.offset().top - 0;

              if (isAnimate) {
                $('body, html').animate({
                  scrollTop: reqSectionPos },
                800);
              } else {
                $('body, html').scrollTop(reqSectionPos);
              }

            };

            var checkSection = function checkSection() {
              $('.section').each(function () {
                var
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                  var
                  currentId = $this.data('section'),
                  reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                  reqLink.closest('li').addClass('active').
                  siblings().removeClass('active');
                }
              });
            };

            $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
              if($(e.target).hasClass('external')) {
                return;
              }
              e.preventDefault();
              $('#menu').removeClass('active');
              showSection($(this).attr('href'), true);
            });

            $(window).scroll(function () {
              checkSection();
            });
        </script>
    </body>

</html>